.wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px dashed #ff7010;
    display: flex;
    align-items: center;
    animation: rotate 5s infinite linear;
}

.textInLoader {
    text-align: center;
    animation: textRotate 5s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes textRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}