* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}

html, body {
  height: 100%;
  background: #f8f8f8;
}

#root {
  height: 100%;
  --text-color: white;
  --title-color: #2591F5;
  --data-color: #929292;
  --footer-height: 153px;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100% - var(--footer-height));
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0 0;
}
